<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Pesquisar" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Approved" nzValue="approved"></nz-option>
                        <nz-option nzLabel="Pending" nzValue="pending"></nz-option>
                        <nz-option nzLabel="Rejected" nzValue="rejected"></nz-option>
                    </nz-select>
                </div> -->
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <button nz-button nzType="primary" (click)="toggleModal()">
                <span>Novo</span><i nz-icon nzType="plus" theme="outline"></i>
            </button>
        </div>
    </div>
    <nz-table #table [nzData]="displayData" >
        <thead>
            <tr>
                <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table.data;  let i=index">
                <td>{{ item.identifier }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.color_hex }}</td>
                <td>{{ item.slug }}</td>
                <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss': 'UTC' }}</td>
                <td>{{ item.updated_at | date: 'dd/MM/yyyy HH:mm:ss': 'UTC' }}</td>
                <td>
                    <div class="d-flex">
                        <a class="m-r-5" nz-button nzType="default" (click)="showModalUpdate(item)" nzShape="circle" nz-tooltip nzTooltipTitle="Edit">
                            <i nz-icon nzType="edit" theme="outline"></i>
                        </a>
                        <button 
                            nz-button 
                            nzType="default" 
                            nzShape="circle" 
                            nz-tooltip 
                            nzTooltipTitle="Delete"
                            nz-popconfirm
                            nzCancelText="Cancelar"
                            nzPopconfirmTitle="Você tem certeza que deseja deletar ?"
                            (nzOnConfirm)="delete(item)"
                            nzPopconfirmPlacement="topRight"
                        >
                            <i nz-icon nzType="delete" theme="outline"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Cadastro de Combustível" nzCancelText="Cancelar" nzOkText="Salvar"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <!-- <pre>{{ form.value | json }}</pre> -->
    <form nz-form [formGroup]="formCreate" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="name">Nome do Combustível</nz-form-label>
            <nz-form-control>
                <input nz-input name="name" formControlName="name" type="text"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="slug">Slug</nz-form-label>
            <nz-form-control>
                <input nz-input name="slug" formControlName="slug" type="text"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div class="d-flex justify-content-between">
                <nz-form-label nzFor="color_hex">Cor Hexadecimal</nz-form-label>
                <nz-tag [nzColor]="formCreate.get('color_hex').value">{{formCreate.get('color_hex').value}}</nz-tag>
            </div>
            <nz-form-control>
                <input nz-input minlength="7" name="color_hex" formControlName="color_hex" type="text"/>
            </nz-form-control>
        </nz-form-item>

    </form>
</nz-modal>