<nz-card>

    <div class="row m-b-30">
        <div class="col-lg-12">
            <div class="">
                <p>Filtrar por:</p>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="searchForm" (submit)="submitSearchForm()">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Tipo frete</nz-form-label>
                                <nz-form-control>
                                    <nz-select style="width: 100%;" formControlName="freight_type" [nzAllowClear]="true">
                                        <nz-option nzValue="FOB" nzLabel="FOB"></nz-option>
                                        <nz-option nzValue="CIF" nzLabel="CIF"></nz-option>
                                    </nz-select>
                                </nz-form-control>

                                <!-- <nz-form-control>
                                    <input nz-input type="text" formControlName="freight_type">
                                </nz-form-control> -->
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Ponto de Retirada</nz-form-label>
                                <nz-form-control>
                                    <nz-select style="width: 100%;" formControlName="port" [nzAllowClear]="true">
                                        <nz-option *ngFor="let port of portList" [nzValue]="port.id"
                                            [nzLabel]="port.name">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>

                                <!-- <nz-form-control>
                                    <input nz-input type="text" formControlName="port">
                                </nz-form-control> -->
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Período</nz-form-label>
                                <nz-form-control>
                                    <nz-range-picker [nzFormat]="'dd/MM/yyyy'" formControlName="range">
                                    </nz-range-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Combustível</nz-form-label>
                                <nz-form-control>
                                    <nz-select style="width: 100%;" formControlName="fuel" [nzAllowClear]="true">
                                        <nz-option *ngFor="let fuel of fuelList" [nzValue]="fuel.id"
                                            [nzLabel]="fuel.name">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="search-area">
                            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="isLoading">
                                Filtrar <i nz-icon nzType="search" nzTheme="outline"></i>
                            </button>
                            <button nz-button type="button" (click)="resetForm()">
                                Limpar <i nz-icon nzType="clear" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <!-- <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Pesquisar" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>   -->
                    <!-- <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>    -->
                </div>
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Approved" nzValue="approved"></nz-option>
                        <nz-option nzLabel="Pending" nzValue="pending"></nz-option>
                        <nz-option nzLabel="Rejected" nzValue="rejected"></nz-option>
                    </nz-select>
                </div> -->
            </div>          
        </div>
        <!-- <div class="col-lg-4 text-right">
            <button nz-button nzType="primary">
                <span>Novo</span><i nz-icon nzType="plus" theme="outline"></i>
            </button>
        </div> -->
    </div>
    <nz-spin [nzSpinning]="isLoading">

    <nz-table #table [nzData]="displayData" [nzTitle]="'Lista de pedidos (' + displayData.length +')'">
        <thead>
            <tr>
                <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table.data;  let i=index">
                <td>{{ item.identifier }}</td>
                <td>{{ item.freight_type }}</td>
                <td>{{ item?.port?.name }}</td>
                <td>{{ item?.lot?.status || "SEM LOTES" }}</td>
                <td>{{ item.payment_validated_at ? 'Enviado' : 'Não enviado' }}</td>
                <td>{{ item.fuel?.name }}</td>
                <td>{{ item.fuel_amount }} L</td>
                <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <div class="d-flex">
                        <a class="m-r-5" nz-button nzType="default" (click)="showModalUpdate(item)" nzShape="circle" nz-tooltip nzTooltipTitle="Edit">
                            <i nz-icon nzType="edit" theme="outline"></i>
                        </a>
                        <button 
                            [disabled]="item.lot"
                            nz-button 
                            nzType="default" 
                            nzShape="circle" 
                            nz-tooltip 
                            nzTooltipTitle="Delete"
                            nz-popconfirm
                            nzCancelText="Cancelar"
                            nzPopconfirmTitle="Você tem certeza que deseja deletar ?"
                            (nzOnConfirm)="delete(item)"
                            nzPopconfirmPlacement="topRight"
                        >
                            <i nz-icon nzType="delete" theme="outline"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>

</nz-card>