<nz-spin [nzSpinning]="isLoading">
    <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label >Razão social</nz-form-label>
            <nz-form-control>
                <input nz-input disabled [value]="auction.station.user.social_reason" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label >CNPJ</nz-form-label>
            <nz-form-control>
                <input nz-input disabled [value]="auction.station.user.cnpj"  type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label >Email</nz-form-label>
            <nz-form-control>
                <input nz-input disabled [value]="auction.station.user.email" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label >Contato</nz-form-label>
            <nz-form-control>
                <input nz-input disabled [value]="auction.station.user.phone_number" type="text">
            </nz-form-control>
        </nz-form-item>
    </form>
    <hr>
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="freight_type">Tipo Frete</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 100%;" formControlName="freight_type" [nzAllowClear]="true">
                    <nz-option nzValue="FOB" nzLabel="FOB"></nz-option>
                    <nz-option nzValue="CIF" nzLabel="CIF"></nz-option>
                </nz-select>

                <!-- <input nz-input name="freight_type" formControlName="freight_type" type="text"> -->
            </nz-form-control>
        </nz-form-item>
        <div formGroupName="port">
            <nz-form-item>
                <nz-form-label nzFor="port_name">Pontos de Retirada</nz-form-label>
                <nz-form-control>
                    <input nz-input name="port_name" formControlName="name" type="text">
                </nz-form-control>
            </nz-form-item>
        </div>

        <div formGroupName="fuel">
            <nz-form-item>
                <nz-form-label>Combustível</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%;" formControlName="id" [nzAllowClear]="true">
                        <nz-option *ngFor="let fuelItem of fuelList" [nzValue]="fuelItem.id"
                            [nzLabel]="fuelItem.name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

        </div>
        <nz-form-item>
            <nz-form-label nzFor="fuel_amount">Quantidade</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="fuel_amount" type="text">
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
            <nz-form-label>Estado</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="state_abbreviation">
                    <nz-option nzValue="PB" nzLabel="PB"></nz-option>
                    <nz-option nzValue="PE" nzLabel="PE"></nz-option>
                    <nz-option nzValue="RN" nzLabel="RN"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->
    </form>
    <form  nz-form [formGroup]="paymentForm" (ngSubmit)="submitPaymentVoucher()"  enctype="multipart/form-data">
        <nz-form-item>
            <nz-form-label nzFor="file">Comprovante de Pagamento</nz-form-label>
            <div class="row">
                <div class="col-8">
                    <nz-form-control>
                        <input nz-input name="file" (change)="onFileSelect($event)"  type="file" accept=".pdf,image/*"><!-- formControlName="file" -->
                    </nz-form-control>

                </div>
                <div class="col-4">
                    <button type="submit" class="ant-btn ant-btn-primary ng-star-inserted">Enviar</button>
                </div>

            </div>
        </nz-form-item>

    </form>


</nz-spin>