<nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="email">E-mail</nz-form-label>
            <nz-form-control>
                <input nz-input name="email" formControlName="email" type="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="cpf">CPF/CNPJ</nz-form-label>
            <nz-form-control>
                <input nz-input [mask]="'CPF_CNPJ'" [dropSpecialCharacters]="false" name="cpf_or_cnpj"
                    formControlName="cpf_or_cnpj" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="name">Nome da Unidade</nz-form-label>
            <nz-form-control>
                <input nz-input name="name" formControlName="name" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="phone">Telefone</nz-form-label>
            <nz-form-control>
                <input nz-input [mask]="'(00) 00000-0000'" [dropSpecialCharacters]="false" formControlName="phone"
                    type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Estado</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="state_abbreviation">
                    <nz-option nzValue="PB" nzLabel="PB"></nz-option>
                    <nz-option nzValue="PE" nzLabel="PE"></nz-option>
                    <nz-option nzValue="RN" nzLabel="RN"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>


</nz-spin>