<footer class="footer">
    <div class="footer-content justify-content-between">
        <p class="m-b-0">Copyright ©</p>
        <span>
            <a href="" class="text-gray m-r-15">Link 1</a>
            <a href="" class="text-gray">Link 2</a>
        </span>
    </div>
</footer>