<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Pesquisa Global" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <!-- <button nz-button nzType="primary">
                <span>Novo</span><i nz-icon nzType="plus" theme="outline"></i>
            </button> -->
        </div>
        <div class="col-lg-12">
            <div class="">
                <p>Filtrar por:</p>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="searchForm" (submit)="submitSearchForm()">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Perfil</nz-form-label>
                                <nz-form-control>
                                    <nz-select formControlName="role" nzAllowClear>
                                        <nz-option *ngFor="let item of roleList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="search-area">
                            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="isLoading">
                                Filtrar <i nz-icon nzType="search" nzTheme="outline"></i>
                            </button>
                            <button nz-button type="button" (click)="resetForm()">
                                Limpar <i nz-icon nzType="clear" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nz-spin [nzSpinning]="isLoading">
        <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
            <thead>
                <tr>
                    <!-- <th nzWidth="60"></th> -->
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let user of sortTable.data">
                    <tr>
                        <td>{{ user.identifier }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.social_reason }}</td>
                        <td>{{ user.cnpj }}</td>
                        <td>{{ user.state_registration }}</td>
                        <td>{{ user.phone_number }}</td>
                        <td>
                            <nz-tag [nzColor]="'red'" *ngIf="user.deleted_at">Suspenso</nz-tag>
                            <nz-tag [nzColor]="'cyan'" *ngIf="!user.deleted_at">Ativo</nz-tag>
                        </td>
                        <td>{{ user.latest_login | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ user.email_verified_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <ng-container *ngIf="user.roles.roles[0].name === 'admin'">Admin</ng-container>
                            <ng-container *ngIf="user.roles.roles[0].name === 'distributor'">Distribuidora</ng-container>
                            <ng-container *ngIf="user.roles.roles[0].name === 'gas_station'">Posto</ng-container>
                        </td>
                        <td>
                            <img class="rounded-circle" width="40" height="40" *ngIf="user.station" [src]="user.station.uploads?.uploads[0]?.url" alt="">
                        </td>
                        <td nzRight>
                            <div class="d-flex alig-items-center">
                                <a class="text-dark font-size-18" [nzDropdownMenu]="actions" nz-dropdown [nzTrigger]="'click'" nzPlacement="bottomRight">
                                    <i nz-icon nzType="more" nzTheme="outline"></i>
                                </a>
                                <nz-dropdown-menu #actions="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li *ngIf="canSuspendeUser(user)" nz-menu-item (click)="suspender(user)">Suspender Acesso</li>
                                        <li *ngIf="user.deleted_at" nz-menu-item (click)="reativar(user)">Reativar Acesso</li>

                                        <li nz-menu-item (click)="showModalUpdate(user)">Editar</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </td>
                    </tr>
                </ng-container>
    
            </tbody>
        </nz-table>
    </nz-spin>
</nz-card>
        