<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Pesquisar" [(ngModel)]="searchInput"
                            (ngModelChange)="search()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Approved" nzValue="approved"></nz-option>
                        <nz-option nzLabel="Pending" nzValue="pending"></nz-option>
                        <nz-option nzLabel="Rejected" nzValue="rejected"></nz-option>
                    </nz-select>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 text-right">
            <button nz-button nzType="primary" (click)="toggleModal()">
                <span>Novo</span><i nz-icon nzType="plus" theme="outline"></i>
            </button>
        </div>
    </div>
    <nz-spin [nzSpinning]="isLoading">
        <nz-table #table [nzData]="displayData" [nzTitle]="'Lista de unidades ('+ displayData.length + ')'">
            <thead>
                <tr>
                    <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of table.data;  let i=index">
                    <td>{{ item.identifier }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.cpf_or_cnpj }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.state_abbreviation }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ item.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>
                        <div class="d-flex">
                            <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip
                                nzTooltipTitle="Edit" (click)="showModalUpdate(item)">
                                <i nz-icon nzType="edit" theme="outline"></i>
                            </a>
                            <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete"
                                nz-popconfirm nzCancelText="Cancelar"
                                nzPopconfirmTitle="Você tem certeza que deseja deletar ?" (nzOnConfirm)="delete(item)"
                                nzPopconfirmPlacement="topRight">
                                <i nz-icon nzType="delete" theme="outline"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-spin>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Cadastro de Unidade" nzCancelText="Cancelar" nzOkText="Salvar"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <!-- <pre>{{ form.value | json }}</pre> -->
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="email">E-mail</nz-form-label>
            <nz-form-control>
                <input nz-input name="email" formControlName="email" type="email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="cpf">CPF/CNPJ</nz-form-label>
            <nz-form-control>
                <input nz-input [mask]="'CPF_CNPJ'" [dropSpecialCharacters]="false" name="cpf_or_cnpj" formControlName="cpf_or_cnpj" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="name">Nome da Unidade</nz-form-label>
            <nz-form-control>
                <input nz-input name="name" formControlName="name" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="phone">Telefone</nz-form-label>
            <nz-form-control>
                <input nz-input [mask]="'(00) 00000-0000'" [dropSpecialCharacters]="false" formControlName="phone" type="text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="cpf">Estado</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="state_abbreviation">
                    <nz-option nzValue="PB" nzLabel="PB"></nz-option>
                    <nz-option nzValue="PE" nzLabel="PE"></nz-option>
                    <nz-option nzValue="RN" nzLabel="RN"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>