<!-- <pre>{{ form.value | json }}</pre> -->
<nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="name">Nome do Combustível</nz-form-label>
            <nz-form-control>
                <input nz-input type="text" formControlName="name" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="slug">Slug</nz-form-label>
            <nz-form-control>
                <input nz-input type="text" formControlName="slug" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <div class="d-flex justify-content-between">
                <nz-form-label nzFor="color_hex">Cor Hexadecimal</nz-form-label>
                <nz-tag [nzColor]="form.get('color_hex').value">{{form.get('color_hex').value}}</nz-tag>
            </div>
            
            <nz-form-control>
                <input nz-input minlength="7" name="color_hex" formControlName="color_hex" type="text"/>
            </nz-form-control>
        </nz-form-item>

    </form>


</nz-spin>